
<div class="container mt-4">
  <div class="card border-success mb-3" style="max-width: 19rem;" *ngFor="let post of posts">
    <div class="card-header bg-transparent border-success">{{post.titre}}</div>
    <div class="card-body">
      <h5 class="card-title text-success">{{post.categorie}}</h5>
      <p class="card-text "> {{post.description}} </p>
    </div>
    <div class="card-footer bg-transparent border-success text-center"> {{post.date |date:'EEEE, MMMM d, y' }} </div>
   <div class="column  justify-content-between ml-5">
    <button class="btn btn-danger btn-sm mx-3" (click)="supprimerPost(post)" type="button">Supprimer</button>
    <button class="btn btn-success btn-sm mx-3 my-3"  [routerLink]="['/updatepost', post.id]" type="button">Modifier</button> 
   </div>
  <!--<button class="btn btn-success mx-3" [routerLink]="['/updatepost', post.id]" type="button">Modifier</button>-->
  </div>
</div>