<div class="container mycontainer">
    <div class="card mt-5 justify-content-md-center">
        <div class="text-center mt-2">
            <h4></h4>
        </div>
        <div class="card-body">
          <form [formGroup]="addPostForm">
            <div class="form-group mb-3">
              <label for="exampleFormControlInput1" class="form-label">Id</label>
              <input [class.is-invalid]="addPostForm.get('id').invalid 
              && addPostForm.get('id').touched"  type="number" class="form-control" formControlName="id" required placeholder="id">
              <div *ngIf="addPostForm.get('id').invalid && addPostForm.get('id').touched">
                <small class="text-danger" *ngIf="addPostForm.get('id').errors?.['required']">Id is required</small>
            </div>
            </div>
            <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Titre</label>
                <input [class.is-invalid]="addPostForm.get('titre').invalid 
                && addPostForm.get('titre').touched"  type="text" class="form-control" formControlName="titre" required placeholder="titre">
                <div *ngIf="addPostForm.get('titre').invalid && addPostForm.get('titre').touched">
                  <small class="text-danger" *ngIf="addPostForm.get('titre').errors?.['required']">Titre is required</small>
              </div>
              </div>
              <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Description</label>
                <input [class.is-invalid]="addPostForm.get('description').invalid 
                && addPostForm.get('description').touched" type="text" class="form-control" name="description" formControlName="description" required placeholder="Description">
                <div *ngIf="addPostForm.get('description').invalid && addPostForm.get('description').touched">
                  <small class="text-danger" *ngIf="addPostForm.get('description').errors?.['required']">Description is required</small>
              </div>
              </div>
            <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Categorie</label>
                <input [class.is-invalid]="addPostForm.get('categorie').invalid 
                && addPostForm.get('categorie').touched"  type="text" class="form-control" name="categorie" formControlName="categorie" required placeholder="Categorie">
                <div *ngIf="addPostForm.get('categorie').invalid && addPostForm.get('categorie').touched">
                  <small class="text-danger" *ngIf="addPostForm.get('categorie').errors?.['required']">Categorie is required</small>
              </div>
              </div>
              <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Categorie</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Categorie</option>
                    <option value="1">Sport</option>
                    <option value="2">Technologie</option>
                    <option value="3">Economie</option>
                    <option value="4">Société</option>
                    <option value="5">Culture</option>
                  </select>
                  <div *ngIf="addPostForm.get('categorie').invalid && addPostForm.get('categorie').touched">
                    <small class="text-danger" *ngIf="addPostForm.get('categorie').errors?.['required']">Categorie is required</small>
                </div>
                </div>
             <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Date</label>
                <input [class.is-invalid]="addPostForm.get('date').invalid 
                && addPostForm.get('date').touched"  type="date" class="form-control" name="date" formControlName="date" required  placeholder="Adresse">
                <div *ngIf="addPostForm.get('date').invalid && addPostForm.get('date').touched">
                  <small class="text-danger" *ngIf="addPostForm.get('date').errors?.['required']">Date is required</small>
              </div>
              </div>
              <div class="mb-3 d-flex justify-content-between">
                 <!--<a [routerLink]="['/login']" class="btn btn-link" >Se connecter</a> -->
                 <button class="btn btn-primary mt-2" [disabled]="addPostForm.invalid" (click)="addPost()" type="button">Ajouter Publication</button> 
             </div>  
            </form>
        </div>
      </div>
      
</div>
  

