<div class="container mycontainer">
    <div class="card mt-5 justify-content-md-center">
        <div class="text-center mt-2">
            <h4></h4>
        </div>
        <div class="card-body">
          <form #updateform="ngForm">
            <div class="form-group mb-3">
              <label for="exampleFormControlInput1"  class="form-label">Id</label>
              <input type="number" disabled [(ngModel)]="currentPost.id" name="id" class="form-control"  required placeholder="id">
            </div>
            <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Titre</label>
                <input [(ngModel)]="currentPost.titre" name="titre" type="text" #titre="ngModel" [class.is-invalid]="titre.invalid && titre.touched" class="form-control"  required placeholder="titre">
                <div *ngIf="titre.errors && (titre.invalid || titre.touched)">
                  <small class="text-danger" *ngIf="titre.errors?.['required']"> Titre is required.</small>
                 </div> 
              </div>
              <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Description</label>
                <input [(ngModel)]="currentPost.description" type="text" class="form-control" name="description" #description="ngModel" [class.is-invalid]="description.invalid && description.touched"  required placeholder="Description">
                <div *ngIf="description.errors && (description.invalid || description.touched)">
                  <small class="text-danger" *ngIf="description.errors?.['required']"> Description is required.</small>
                 </div>
              </div>
            <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Categorie</label>
                <input  [(ngModel)]="currentPost.categorie" #categorie="ngModel" [class.is-invalid]="categorie.invalid && categorie.touched"  type="text" class="form-control" name="categorie"  required placeholder="Categorie">
              </div>
              <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Categorie</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Categorie</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>
             <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Date</label>
                <input [(ngModel)]="currentPost.date" name="date" #date="ngModel" [class.is-invalid]="date.invalid && date.touched" type="date" [ngModel]="currentPost.date | date: 'yyyy-MM-dd'" (ngModelChange)=" currentPost.date= $event" class="form-control" name="date"  required  placeholder="date">
              </div>
              <div class="mb-3 d-flex justify-content-between">
                <!--<a [routerLink]="['/login']" class="btn btn-link" >Se connecter</a> -->
                 <button class="btn btn-primary mt-2" [disabled]="updateform.form.invalid" (click)="updatePost()" type="button">Save</button> 
             </div>  
            </form>
        </div>
      </div>
      
</div>
  





